<section
  class="primary-banner"
  *hideAfter="5000 as time; then showOtherSection; let counter; let myDefault"
>
  <h1>This is temporary content.</h1>
  <p>
    This will disappear {{ time }} in seconds. It is {{ counter }} seconds from
    now.{{ myDefault }}.
  </p>
</section>

<ng-template #showOtherSection let-hiddedAfter="appHideAfter" let-myDefault>
  <section class="primary-banner">
    <h1>This is New Section.</h1>
    <p>This will appeared after {{ hiddedAfter }} seconds.{{ myDefault }}.</p>
  </section>
</ng-template>
